In [1]:
from pysus.ftp.databases.sia import SIA
from pysus.ftp.databases.sih import SIH
from pysus.ftp.databases.cnes import CNES
from pysus.ftp.databases.sim import SIM
from pysus.ftp.databases.sinasc import SINASC
from pysus.ftp.databases.sinan import SINAN
import pandas as pd
import os

sia = SIA().load()
sih = SIH().load()
cnes = CNES().load()
sim = SIM().load()
sinasc = SINASC().load()
sinan = SINAN().load()

In [5]:
sia

sia.metadata

{'long_name': 'Sistema de Informações Ambulatoriais',
 'source': 'http://sia.datasus.gov.br/principal/index.php',
 'description': 'O Sistema de Informação Ambulatorial (SIA) foi instituído pela Portaria GM/MS n.º 896 de 29 de junho de 1990. Originalmente, o SIA foi concebido a partir do projeto SICAPS (Sistema de Informação e Controle Ambulatorial da Previdência Social), em que os conceitos, os objetivos e as diretrizes criados para o desenvolvimento do SICAPS foram extremamente importantes e amplamente utilizados para o desenvolvimento do SIA, tais como: (i) o acompanhamento das programações físicas e orçamentárias; (ii) o acompanhamento das ações de saúde produzidas; (iii) a agilização do pagamento e controle orçamentário e financeiro; e (iv) a formação de banco de dados para contribuir com a construção do SUS.'}

In [6]:
sia.groups

{'AB': 'APAC de Cirurgia Bariátrica',
 'ABO': 'APAC de Acompanhamento Pós Cirurgia Bariátrica',
 'ACF': 'APAC de Confecção de Fístula',
 'AD': 'APAC de Laudos Diversos',
 'AM': 'APAC de Medicamentos',
 'AMP': 'APAC de Acompanhamento Multiprofissional',
 'AN': 'APAC de Nefrologia',
 'AQ': 'APAC de Quimioterapia',
 'AR': 'APAC de Radioterapia',
 'ATD': 'APAC de Tratamento Dialítico',
 'BI': 'Boletim de Produção Ambulatorial individualizado',
 'IMPBO': '',
 'PA': 'Produção Ambulatorial',
 'PAM': '',
 'PAR': '',
 'PAS': '',
 'PS': 'RAAS Psicossocial',
 'SAD': 'RAAS de Atenção Domiciliar'}

In [7]:
files_SP = sia.get_files("PA", uf=["SP"], year=[2018, 2019, 2020, 2021, 2022, 2023, 2024])
files_PR = sia.get_files("PA", uf=["PR"], year=[2022, 2023, 2024])
files_MG = sia.get_files("PA", uf=["MG"], year=[2018], month=[1])

In [8]:
parquet = sia.download(files_SP, local_dir="pysus_sih/parquet_files/SIA/PA")
parquet = sia.download(files_PR, local_dir="pysus_sih/parquet_files/SIA/PA")
parquet = sia.download(files_MG, local_dir="pysus_sih/parquet_files/SIA/PA")

PASP2409c.parquet: 100%|██████████| 6.09M/6.09M [02:37<00:00, 38.7kB/s]
PAPR2409.parquet: 100%|██████████| 7.76M/7.76M [03:19<00:00, 38.8kB/s]
PAMG1801.parquet: 100%|██████████| 6.36M/6.36M [02:42<00:00, 39.2kB/s]

In [2]:
estados = [
    "AC",  "AL",  "AP",  "AM",  
    "BA",  "CE",  "DF",   "ES",   "GO",  
    "MA",  "MT",   "MS",   #"MG",  
    "PA",  "PB",  #"PR", 
    "PE",  "PI",  "RJ",   "RN",   "RS",   
    "RO",  "RR",  "SC",   
    #"SP",  
    "SE",  "TO"   
]
anos = [1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007,2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024
        ]

In [ ]:
Grupos = ['PA', 'BI', 'PS', 'SAD']

for Grupo in Grupos:
    try:
        # Obtém os arquivos para o grupo atual
        print(f"Processando o grupo: {Grupo}")
        files = sia.get_files([Grupo], uf=estados, year=anos)
        # Faz o download dos arquivos para o diretório especificado
        local_dir = f"pysus_sih/parquet_files/SIA/{Grupo}"
        parquet = sia.download(files, local_dir=local_dir)
        
        print(f"Arquivos para o grupo '{Grupo}' baixados com sucesso em: {local_dir}")
    except Exception as e:
        print(f"Erro ao processar o grupo '{Grupo}': {e}")

Processando o grupo: PA

PAAC0001.dbc:   0%|          | 0.00/79.6k [00:00<?, ?B/s]

PAAC0001.parquet:   0%|          | 0.00/4.65k [00:00<?, ?B/s]     /root/pysus_sih/venv/lib/python3.10/site-packages/tqdm/std.py:533: TqdmWarning: clamping frac to range [0, 1]
  full_bar = Bar(frac,
PAAC1012.parquet:   0%|          | 0.00/61.7k [00:00<?, ?B/s]

In [32]:
caminho_erro = 'pysus_sih/parquet_files/SIH/SP/SPAC9708.parquet/e66a285d426e4032b5dfb58f9a2fa2f0-0.parquet'
df_temp = pd.read_parquet(caminho_pasta_SP_1)
df_temp

,SP_GESTOR,SP_UF,SP_AA,SP_MM,SP_CNES,SP_NAIH,SP_PROCREA,SP_DTINTER,SP_DTSAIDA,SP_NUM_PR,SP_TIPO,SP_CPFCGC,SP_ATOPROF,SP_TP_ATO,SP_QTD_ATO,SP_PTSP,SP_NF,SP_VALATO
0,350000,35,2007,02,2080672,3507106573180,82500061,20070214,20070218,00041001,03,00000002080672,17064040,15,1,8,000000,0.69
1,350000,35,2007,02,2080672,3507106573180,82500061,20070214,20070218,00041001,03,00000002080672,21003068,16,1,44,000000,3.81
2,350000,35,2007,02,2080672,3507106573180,82500061,20070214,20070218,00041001,03,00000002080672,04001010,18,2,50,000000,4.33
3,350000,35,2007,02,2080672,3507106573212,77500024,20070214,20070221,00041001,45,00000069367841,25001019,07,1,18,000000,12.05
4,350000,35,2007,02,2080672,3507106573212,77500024,20070214,20070221,00041001,45,00004339748854,25001019,07,7,126,000000,84.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1486024,355030,35,2007,02,2081970,3507102736973,40060012,20061208,20070104,00041001,03,00000002081970,17042046,15,1,8,000000,4.01
1486025,355030,35,2007,02,2081970,3507102736973,40060012,20061208,20070104,00041001,03,00000002081970,17064040,15,1,8,000000,4.01
1486026,355030,35,2007,02,2081970,3507102736973,40060012,20061208,20070104,00041001,03,00000002081970,17023041,15,1,8,000000,4.01
1486027,355030,35,2007,02,2081970,3507102736973,40060012,20061208,20070104,00041001,03,00000002081970,17059046,15,1,8,000000,4.01
1486028,355030,35,2007,02,2081970,3507102736973,40060012,20061208,20070104,00041001,03,00000002081970,17055040,15,1,8,000000,4.01

In [ ]:
# colunas = df.columns #RD
# with open('colunas_rj.txt', 'w') as arquivo:
#     # Escrever cada nome de coluna em uma nova linha
#     for coluna in colunas:
#         arquivo.write(f"{coluna}\n")

In [ ]:
df = pd.read_parquet("parquet_files/SIH/SP/SPSP1801.parquet")
print(df.columns)

FileNotFoundError: [Errno 2] No such file or directory: 'parquet_files/SIH/SP/SPSP1801.parquet'

In [13]:
# 1. Informações Gerais sobre o DataFrame
print("Informações do DataFrame:")
print(df.info())

Informações do DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62568 entries, 0 to 62567
Data columns (total 36 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SP_GESTOR   62568 non-null  object
 1   SP_UF       62568 non-null  object
 2   SP_AA       62568 non-null  object
 3   SP_MM       62568 non-null  object
 4   SP_CNES     62568 non-null  object
 5   SP_NAIH     62568 non-null  object
 6   SP_PROCREA  62568 non-null  object
 7   SP_DTINTER  62568 non-null  object
 8   SP_DTSAIDA  62568 non-null  object
 9   SP_NUM_PR   62568 non-null  object
 10  SP_TIPO     62568 non-null  object
 11  SP_CPFCGC   62568 non-null  object
 12  SP_ATOPROF  62568 non-null  object
 13  SP_TP_ATO   62568 non-null  object
 14  SP_QTD_ATO  62568 non-null  object
 15  SP_PTSP     62568 non-null  object
 16  SP_NF       62568 non-null  object
 17  SP_VALATO   62568 non-null  object
 18  SP_M_HOSP   62568 non-null  object
 19  SP_M_PAC    62568 non-null  object
 20  SP_DES_HOS  62568 non-null  object
 21  SP_DES_PAC  62568 non-null  object
 22  SP_COMPLEX  62568 non-null  object
 23  SP_FINANC   62568 non-null  object
 24  SP_CO_FAEC  62568 non-null  object
 25  SP_PF_CBO   62568 non-null  object
 26  SP_PF_DOC   62568 non-null  object
 27  SP_PJ_DOC   62568 non-null  object
 28  IN_TP_VAL   62568 non-null  object
 29  SEQUENCIA   62568 non-null  object
 30  REMESSA     62568 non-null  object
 31  SERV_CLA    62568 non-null  object
 32  SP_CIDPRI   62568 non-null  object
 33  SP_CIDSEC   62568 non-null  object
 34  SP_QT_PROC  62568 non-null  object
 35  SP_U_AIH    62568 non-null  object
dtypes: object(36)
memory usage: 17.2+ MB
None

In [14]:
# 2. Estatísticas Descritivas de Colunas Numéricas
print("\nEstatísticas Descritivas (Numéricas):")
print(df.describe())

Estatísticas Descritivas (Numéricas):
       SP_GESTOR  SP_UF  SP_AA  SP_MM  SP_CNES        SP_NAIH  SP_PROCREA  \
count      62568  62568  62568  62568    62568          62568       62568
unique         1      1      1      1       24           5266         379
top       120000     12   2023     03  2001578  1223100144387  0411010034
freq       62568  62568  62568  62568    13635            164        6390

       SP_DTINTER SP_DTSAIDA SP_NUM_PR  ...        SP_PF_DOC       SP_PJ_DOC  \
count       62568      62568     62568  ...            62568           62568
unique        175        157         1  ...              698              39
top      20230228   20230303            ...  000000000000000  00000002001578
freq         1390       1444     62568  ...            44818           12643

       IN_TP_VAL  SEQUENCIA                REMESSA SERV_CLA SP_CIDPRI  \
count      62568      62568                  62568    62568     62568
unique         2       5266                      1       24      1062
top            1       4360  HE12000001N202303.DTS   000000      O800
freq       48367        164                  62568    59215      4779

       SP_CIDSEC SP_QT_PROC SP_U_AIH
count      62568      62568    62568
unique         1         78        2
top         0000          1        0
freq       62568      35777    57302

[4 rows x 36 columns]

In [15]:
# 3. Estatísticas Descritivas de Colunas Categóricas
print("\nEstatísticas Descritivas (Categóricas):")
print(df.describe(include=['object', 'category']))

Estatísticas Descritivas (Categóricas):
       SP_GESTOR  SP_UF  SP_AA  SP_MM  SP_CNES        SP_NAIH  SP_PROCREA  \
count      62568  62568  62568  62568    62568          62568       62568
unique         1      1      1      1       24           5266         379
top       120000     12   2023     03  2001578  1223100144387  0411010034
freq       62568  62568  62568  62568    13635            164        6390

       SP_DTINTER SP_DTSAIDA SP_NUM_PR  ...        SP_PF_DOC       SP_PJ_DOC  \
count       62568      62568     62568  ...            62568           62568
unique        175        157         1  ...              698              39
top      20230228   20230303            ...  000000000000000  00000002001578
freq         1390       1444     62568  ...            44818           12643

       IN_TP_VAL  SEQUENCIA                REMESSA SERV_CLA SP_CIDPRI  \
count      62568      62568                  62568    62568     62568
unique         2       5266                      1       24      1062
top            1       4360  HE12000001N202303.DTS   000000      O800
freq       48367        164                  62568    59215      4779

       SP_CIDSEC SP_QT_PROC SP_U_AIH
count      62568      62568    62568
unique         1         78        2
top         0000          1        0
freq       62568      35777    57302

[4 rows x 36 columns]

In [17]:

# 4. Verificar Valores Únicos e Frequência
print("\nValores Únicos por Coluna:")
for column in df.columns:
    print(f"Coluna: {column}")
    print(f"- Valores Únicos: {df[column].nunique()}")
    print(f"- Principais Valores:\n{df[column].value_counts().head()}\n")

Valores Únicos por Coluna:
Coluna: SP_GESTOR
- Valores Únicos: 1
- Principais Valores:
SP_GESTOR
120000    62568
Name: count, dtype: int64

Coluna: SP_UF
- Valores Únicos: 1
- Principais Valores:
SP_UF
12    62568
Name: count, dtype: int64

Coluna: SP_AA
- Valores Únicos: 1
- Principais Valores:
SP_AA
2023    62568
Name: count, dtype: int64

Coluna: SP_MM
- Valores Únicos: 1
- Principais Valores:
SP_MM
03    62568
Name: count, dtype: int64

Coluna: SP_CNES
- Valores Únicos: 24
- Principais Valores:
SP_CNES
2001578    13635
2000733     9454
2000296     8525
2002078     8280
5336171     6930
Name: count, dtype: int64

Coluna: SP_NAIH
- Valores Únicos: 5266
- Principais Valores:
SP_NAIH
1223100144387    164
1222100693286    141
1223100078288    138
1223100140955    120
1223100105029    112
Name: count, dtype: int64

Coluna: SP_PROCREA
- Valores Únicos: 379
- Principais Valores:
SP_PROCREA
0411010034    6390
0310010039    4479
0411010026    3641
0303140151    2828
0310010055    2498
Name: count, dtype: int64

Coluna: SP_DTINTER
- Valores Únicos: 175
- Principais Valores:
SP_DTINTER
20230228    1390
20230303    1198
20230227    1169
20230306    1167
20230309    1156
Name: count, dtype: int64

Coluna: SP_DTSAIDA
- Valores Únicos: 157
- Principais Valores:
SP_DTSAIDA
20230303    1444
20230309    1438
20230317    1336
20230307    1308
20230304    1285
Name: count, dtype: int64

Coluna: SP_NUM_PR
- Valores Únicos: 1
- Principais Valores:
SP_NUM_PR
    62568
Name: count, dtype: int64

Coluna: SP_TIPO
- Valores Únicos: 1
- Principais Valores:
SP_TIPO
    62568
Name: count, dtype: int64

Coluna: SP_CPFCGC
- Valores Únicos: 104
- Principais Valores:
SP_CPFCGC
00000002001578    12672
00000002000733     9454
00000002000296     8525
00000005336171     6930
00000002002078     6714
Name: count, dtype: int64

Coluna: SP_ATOPROF
- Valores Únicos: 687
- Principais Valores:
SP_ATOPROF
0202020380    4857
0301010170    3156
0202010694    1515
0202010317    1503
0802010032    1332
Name: count, dtype: int64

Coluna: SP_TP_ATO
- Valores Únicos: 1
- Principais Valores:
SP_TP_ATO
    62568
Name: count, dtype: int64

Coluna: SP_QTD_ATO
- Valores Únicos: 77
- Principais Valores:
SP_QTD_ATO
1    46406
2     6524
3     3046
4     1555
5     1161
Name: count, dtype: int64

Coluna: SP_PTSP
- Valores Únicos: 79
- Principais Valores:
SP_PTSP
0         53277
20         1797
600        1367
80         1029
50          891
Name: count, dtype: int64

Coluna: SP_NF
- Valores Únicos: 100
- Principais Valores:
SP_NF
                        62307
00000000000000145030       14
00000000000000017398       13
00000000000000022728       12
00000000000000000271       11
Name: count, dtype: int64

Coluna: SP_VALATO
- Valores Únicos: 3381
- Principais Valores:
SP_VALATO
 0.00    31043
 1.00     1343
55.20     1131
10.00     1059
16.00      981
Name: count, dtype: int64

Coluna: SP_M_HOSP
- Valores Únicos: 16
- Principais Valores:
SP_M_HOSP
120040    38930
120020    15559
120050     1737
120010     1486
120060     1338
Name: count, dtype: int64

Coluna: SP_M_PAC
- Valores Únicos: 53
- Principais Valores:
SP_M_PAC
120040    27528
120020     9643
120050     2931
120060     2359
120033     2283
Name: count, dtype: int64

Coluna: SP_DES_HOS
- Valores Únicos: 2
- Principais Valores:
SP_DES_HOS
0    59257
1     3311
Name: count, dtype: int64

Coluna: SP_DES_PAC
- Valores Únicos: 2
- Principais Valores:
SP_DES_PAC
0    42493
1    20075
Name: count, dtype: int64

Coluna: SP_COMPLEX
- Valores Únicos: 2
- Principais Valores:
SP_COMPLEX
02    59697
03     2871
Name: count, dtype: int64

Coluna: SP_FINANC
- Valores Únicos: 4
- Principais Valores:
SP_FINANC
06    60790
01     1065
04      708
07        5
Name: count, dtype: int64

Coluna: SP_CO_FAEC
- Valores Únicos: 5
- Principais Valores:
SP_CO_FAEC
          61860
040078      660
040032       44
040028        3
040072        1
Name: count, dtype: int64

Coluna: SP_PF_CBO
- Valores Únicos: 49
- Principais Valores:
SP_PF_CBO
000000    44818
225125     3761
223605     2797
225124     2409
225151     2329
Name: count, dtype: int64

Coluna: SP_PF_DOC
- Valores Únicos: 698
- Principais Valores:
SP_PF_DOC
000000000000000    44818
708007804438923      381
700003201631102      355
709806061070897      320
703402281224312      310
Name: count, dtype: int64

Coluna: SP_PJ_DOC
- Valores Únicos: 39
- Principais Valores:
SP_PJ_DOC
00000002001578    12643
00000002000733     9454
00000002000296     8527
00000002002078     6409
00000002001586     5015
Name: count, dtype: int64

Coluna: IN_TP_VAL
- Valores Únicos: 2
- Principais Valores:
IN_TP_VAL
1    48367
2    14201
Name: count, dtype: int64

Coluna: SEQUENCIA
- Valores Únicos: 5266
- Principais Valores:
SEQUENCIA
4360    164
4139    141
4719    138
4773    120
4732    112
Name: count, dtype: int64

Coluna: REMESSA
- Valores Únicos: 1
- Principais Valores:
REMESSA
HE12000001N202303.DTS    62568
Name: count, dtype: int64

Coluna: SERV_CLA
- Valores Únicos: 24
- Principais Valores:
SERV_CLA
000000    59215
126005      964
121002      599
126004      452
126000      446
Name: count, dtype: int64

Coluna: SP_CIDPRI
- Valores Únicos: 1062
- Principais Valores:
SP_CIDPRI
O800    4779
O809    2054
J189    1464
O759    1395
I219    1151
Name: count, dtype: int64

Coluna: SP_CIDSEC
- Valores Únicos: 1
- Principais Valores:
SP_CIDSEC
0000    62568
Name: count, dtype: int64

Coluna: SP_QT_PROC
- Valores Únicos: 78
- Principais Valores:
SP_QT_PROC
1    35777
0    11045
2     6446
3     2998
4     1515
Name: count, dtype: int64

Coluna: SP_U_AIH
- Valores Únicos: 2
- Principais Valores:
SP_U_AIH
0    57302
1     5266
Name: count, dtype: int64

In [18]:
# 5. Verificar Valores Nulos
print("\nValores Nulos por Coluna:")
print(df.isnull().sum())

Valores Nulos por Coluna:
SP_GESTOR     0
SP_UF         0
SP_AA         0
SP_MM         0
SP_CNES       0
SP_NAIH       0
SP_PROCREA    0
SP_DTINTER    0
SP_DTSAIDA    0
SP_NUM_PR     0
SP_TIPO       0
SP_CPFCGC     0
SP_ATOPROF    0
SP_TP_ATO     0
SP_QTD_ATO    0
SP_PTSP       0
SP_NF         0
SP_VALATO     0
SP_M_HOSP     0
SP_M_PAC      0
SP_DES_HOS    0
SP_DES_PAC    0
SP_COMPLEX    0
SP_FINANC     0
SP_CO_FAEC    0
SP_PF_CBO     0
SP_PF_DOC     0
SP_PJ_DOC     0
IN_TP_VAL     0
SEQUENCIA     0
REMESSA       0
SERV_CLA      0
SP_CIDPRI     0
SP_CIDSEC     0
SP_QT_PROC    0
SP_U_AIH      0
dtype: int64

Tipos de Dados:
SP_GESTOR     object
SP_UF         object
SP_AA         object
SP_MM         object
SP_CNES       object
SP_NAIH       object
SP_PROCREA    object
SP_DTINTER    object
SP_DTSAIDA    object
SP_NUM_PR     object
SP_TIPO       object
SP_CPFCGC     object
SP_ATOPROF    object
SP_TP_ATO     object
SP_QTD_ATO    object
SP_PTSP       object
SP_NF         object
SP_VALATO     object
SP_M_HOSP     object
SP_M_PAC      object
SP_DES_HOS    object
SP_DES_PAC    object
SP_COMPLEX    object
SP_FINANC     object
SP_CO_FAEC    object
SP_PF_CBO     object
SP_PF_DOC     object
SP_PJ_DOC     object
IN_TP_VAL     object
SEQUENCIA     object
REMESSA       object
SERV_CLA      object
SP_CIDPRI     object
SP_CIDSEC     object
SP_QT_PROC    object
SP_U_AIH      object
dtype: object

In [19]:
# 6. Tipos de Dados no DataFrame
print("\nTipos de Dados:")
print(df.dtypes)

Tipos de Dados:
SP_GESTOR     object
SP_UF         object
SP_AA         object
SP_MM         object
SP_CNES       object
SP_NAIH       object
SP_PROCREA    object
SP_DTINTER    object
SP_DTSAIDA    object
SP_NUM_PR     object
SP_TIPO       object
SP_CPFCGC     object
SP_ATOPROF    object
SP_TP_ATO     object
SP_QTD_ATO    object
SP_PTSP       object
SP_NF         object
SP_VALATO     object
SP_M_HOSP     object
SP_M_PAC      object
SP_DES_HOS    object
SP_DES_PAC    object
SP_COMPLEX    object
SP_FINANC     object
SP_CO_FAEC    object
SP_PF_CBO     object
SP_PF_DOC     object
SP_PJ_DOC     object
IN_TP_VAL     object
SEQUENCIA     object
REMESSA       object
SERV_CLA      object
SP_CIDPRI     object
SP_CIDSEC     object
SP_QT_PROC    object
SP_U_AIH      object
dtype: object

In [ ]:
colunas = df.columns #SP
colunas

Index(['SP_GESTOR', 'SP_UF', 'SP_AA', 'SP_MM', 'SP_CNES', 'SP_NAIH',
       'SP_PROCREA', 'SP_DTINTER', 'SP_DTSAIDA', 'SP_NUM_PR', 'SP_TIPO',
       'SP_CPFCGC', 'SP_ATOPROF', 'SP_TP_ATO', 'SP_QTD_ATO', 'SP_PTSP',
       'SP_NF', 'SP_VALATO', 'SP_M_HOSP', 'SP_M_PAC', 'SP_DES_HOS',
       'SP_DES_PAC', 'SP_COMPLEX', 'SP_FINANC', 'SP_CO_FAEC', 'SP_PF_CBO',
       'SP_PF_DOC', 'SP_PJ_DOC', 'IN_TP_VAL', 'SEQUENCIA', 'REMESSA',
       'SERV_CLA', 'SP_CIDPRI', 'SP_CIDSEC', 'SP_QT_PROC', 'SP_U_AIH'],
      dtype='object')

In [29]:

colunas = df.columns #SP
colunas

Index(['SP_GESTOR', 'SP_UF', 'SP_AA', 'SP_MM', 'SP_CNES', 'SP_NAIH',
       'SP_PROCREA', 'SP_DTINTER', 'SP_DTSAIDA', 'SP_NUM_PR', 'SP_TIPO',
       'SP_CPFCGC', 'SP_ATOPROF', 'SP_TP_ATO', 'SP_QTD_ATO', 'SP_PTSP',
       'SP_NF', 'SP_VALATO', 'SP_M_HOSP', 'SP_M_PAC', 'SP_DES_HOS',
       'SP_DES_PAC', 'SP_COMPLEX', 'SP_FINANC', 'SP_CO_FAEC', 'SP_PF_CBO',
       'SP_PF_DOC', 'SP_PJ_DOC', 'IN_TP_VAL', 'SEQUENCIA', 'REMESSA',
       'SERV_CLA', 'SP_CIDPRI', 'SP_CIDSEC', 'SP_QT_PROC', 'SP_U_AIH'],
      dtype='object')

In [30]:
df

,SP_GESTOR,SP_UF,SP_AA,SP_MM,SP_CNES,SP_NAIH,SP_PROCREA,SP_DTINTER,SP_DTSAIDA,SP_NUM_PR,...,SP_PF_DOC,SP_PJ_DOC,IN_TP_VAL,SEQUENCIA,REMESSA,SERV_CLA,SP_CIDPRI,SP_CIDSEC,SP_QT_PROC,SP_U_AIH
0,120000,12,2023,03,2002078,1223100095877,0310010055,20230228,20230302,,...,000000000000000,00000002002078,1,4528,HE12000001N202303.DTS,000000,O800,0000,1,0
1,120000,12,2023,03,2002078,1223100101510,0310010055,20230302,20230303,,...,705006847763251,00000002002078,2,4562,HE12000001N202303.DTS,000000,O800,0000,0,1
2,120000,12,2023,03,2002078,1223100101510,0310010055,20230302,20230303,,...,706802783307029,00000000000000,2,4562,HE12000001N202303.DTS,000000,O800,0000,0,0
3,120000,12,2023,03,2002078,1223100101510,0310010055,20230302,20230303,,...,706802783307029,00000000000000,2,4562,HE12000001N202303.DTS,000000,O800,0000,0,0
4,120000,12,2023,03,2002078,1223100101510,0310010055,20230302,20230303,,...,000000000000000,00000002002078,1,4562,HE12000001N202303.DTS,000000,O800,0000,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62563,120000,12,2023,03,2002078,1223100095877,0310010055,20230228,20230302,,...,000000000000000,00000002002078,1,4528,HE12000001N202303.DTS,000000,O800,0000,1,0
62564,120000,12,2023,03,2002078,1223100095877,0310010055,20230228,20230302,,...,000000000000000,00000002002078,1,4528,HE12000001N202303.DTS,000000,O800,0000,1,0
62565,120000,12,2023,03,2002078,1223100095877,0310010055,20230228,20230302,,...,000000000000000,00000002002078,1,4528,HE12000001N202303.DTS,000000,O800,0000,1,0
62566,120000,12,2023,03,2002078,1223100095877,0310010055,20230228,20230302,,...,000000000000000,00000002002078,1,4528,HE12000001N202303.DTS,000000,O800,0000,1,0
62567,120000,12,2023,03,2002078,1223100095877,0310010055,20230228,20230302,,...,000000000000000,00000002002078,1,4528,HE12000001N202303.DTS,000000,O800,0000,1,0

In [34]:
df.columns #RJ

Index(['UF_ZI', 'ANO_CMPT', 'MES_CMPT', 'ESPEC', 'CGC_HOSP', 'N_AIH', 'IDENT',
       'CEP', 'MUNIC_RES', 'NASC', 'SEXO', 'UTI_MES_IN', 'UTI_MES_AN',
       'UTI_MES_AL', 'UTI_MES_TO', 'MARCA_UTI', 'UTI_INT_IN', 'UTI_INT_AN',
       'UTI_INT_AL', 'UTI_INT_TO', 'DIAR_ACOM', 'PROC_SOLIC', 'PROC_REA',
       'VAL_SH', 'VAL_SP', 'VAL_SADT', 'VAL_RN', 'VAL_ACOMP', 'VAL_ORTP',
       'VAL_SANGUE', 'VAL_SADTSR', 'VAL_TRANSP', 'VAL_OBSANG', 'VAL_PED1AC',
       'VAL_TOT', 'VAL_UTI', 'US_TOT', 'DT_INTER', 'DT_SAIDA', 'DIAG_PRINC',
       'DIAG_SECUN', 'COBRANCA', 'NATUREZA', 'GESTAO', 'RUBRICA', 'IND_VDRL',
       'MUNIC_MOV', 'COD_IDADE', 'IDADE', 'DIAS_PERM', 'MORTE', 'NACIONAL',
       'NUM_PROC', 'CAR_INT', 'TOT_PT_SP', 'CPF_AUT', 'HOMONIMO', 'NUM_FILHOS',
       'INSTRU', 'CID_NOTIF', 'CONTRACEP1', 'CONTRACEP2', 'GESTRISCO',
       'INSC_PN', 'SEQ_AIH5', 'CBOR', 'CNAER', 'VINCPREV', 'GESTOR_COD',
       'GESTOR_CPF', 'GESTOR_DT', 'CNES', 'INFEHOSP', 'CID_ASSO', 'CID_MORTE',
       'ST_SITUAC', 'ST_BLOQ', 'ST_MOT_BLO'],
      dtype='object')

In [12]:
df.columns #ER

Index(['SEQUENCIA', 'REMESSA', 'CNES', 'AIH', 'ANO', 'MES', 'DT_INTER',
       'DT_SAIDA', 'MUN_MOV', 'UF_ZI', 'MUN_RES', 'UF_RES', 'CO_ERRO'],
      dtype='object')

In [15]:
df.columns #SP

Index(['SP_GESTOR', 'SP_UF', 'SP_AA', 'SP_MM', 'SP_CNES', 'SP_NAIH',
       'SP_PROCREA', 'SP_DTINTER', 'SP_DTSAIDA', 'SP_NUM_PR', 'SP_TIPO',
       'SP_CPFCGC', 'SP_ATOPROF', 'SP_TP_ATO', 'SP_QTD_ATO', 'SP_PTSP',
       'SP_NF', 'SP_VALATO', 'SP_M_HOSP', 'SP_M_PAC', 'SP_DES_HOS',
       'SP_DES_PAC', 'SP_COMPLEX', 'SP_FINANC', 'SP_CO_FAEC', 'SP_PF_CBO',
       'SP_PF_DOC', 'SP_PJ_DOC', 'IN_TP_VAL', 'SEQUENCIA', 'REMESSA',
       'SERV_CLA', 'SP_CIDPRI', 'SP_CIDSEC', 'SP_QT_PROC', 'SP_U_AIH'],
      dtype='object')

In [ ]:
if 'id' in df.columns and df['id'].is_unique:
    chave_primária = 'id'
else:
    # Criar uma coluna 'id' com valores únicos
    df['id'] = range(1, len(df) + 1)
    chave_primária = 'id'

In [ ]:
for col in df.columns:
    if df[col].is_unique:
        print(col)

id

In [ ]:
df["sp_valato"]

NameError: name 'df' is not defined